In [1]:
import pandas as pd
from sklearn.decomposition import TruncatedSVD
from datetime import datetime, date

In [40]:
df= pd.read_csv("datasetreco.csv", sep=";")
df.head(30)

,Date,Time,event_type,user_id,user_session,product_id,price,category,subcategory,subsubcategory,is_view,is_cart,is_purchase,p_views,p_carts,p_purchases,user_views,user_carts,user_purchases
0,2020-09-24,12:02:19,view,1515915625519390366,F71OG8wWVP,3828758,21.59,electronics,audio,acoustic,1,0,0,372,1,0,1,0,0
1,2020-09-24,12:22:49,view,1515915625519398031,hq3JGndGca,1271549,405.65,electronics,audio,acoustic,1,0,0,365,1,0,1,0,0
2,2020-09-24,12:48:31,view,1515915625519407618,JB3Sy5LCfb,124712,204.79,electronics,audio,acoustic,1,0,0,513,68,61,2,1,1
3,2020-09-24,12:49:34,view,1515915625519407618,bRZAHDpYFC,124712,204.79,electronics,audio,acoustic,1,0,0,513,68,61,2,1,1
4,2020-09-24,12:50:22,cart,1515915625519407618,bRZAHDpYFC,124712,204.79,electronics,audio,acoustic,0,1,0,513,68,61,2,1,1
5,2020-09-24,12:51:06,purchase,1515915625519407618,bRZAHDpYFC,124712,204.79,electronics,audio,acoustic,0,0,1,513,68,61,2,1,1
6,2020-09-24,12:56:27,view,1515915625519410290,40Go2pTPt2,593727,12.38,electronics,audio,acoustic,1,0,0,23,0,0,1,0,0
7,2020-09-24,13:19:06,view,1515915625519418511,ifPsEMLnUN,1614097,42.86,electronics,audio,acoustic,1,0,0,22,0,0,1,0,0
8,2020-09-24,13:23:00,view,1515915625407246095,hFrdKXnpyD,4102616,206.87,electronics,audio,acoustic,1,0,0,44,0,0,1,0,0
9,2020-09-24,13:54:46,view,1515915625519431986,4DPxT81h91,4100847,31.27,electronics,audio,acoustic,1,0,0,229,18,15,1,0,0
10,2020-09-24,14:34:19,view,1515915625482978862,6049fa94-3cb1-4e59-81d0-d01029a9ee40,1674137,30.21,electronics,audio,acoustic,1,0,0,18,1,1,2,0,0
11,2020-09-24,15:00:05,view,1515915625517146957,RWbNKB2Ppu,1166287,135.41,electronics,audio,acoustic,1,0,0,101,8,6,1,0,0
12,2020-09-24,15:17:28,view,1515915625506634888,8tkinBW75E,1508375,225.83,electronics,audio,acoustic,1,0,0,64,1,0,1,0,0
13,2020-09-24,15:43:00,view,1515915625519468736,hoOpYnUZRS,3791042,17.94,electronics,audio,acoustic,1,0,0,127,0,0,2,0,0
14,2020-09-24,15:45:38,view,1515915625519468736,Er356jsXn4,3791042,17.94,electronics,audio,acoustic,1,0,0,127,0,0,2,0,0
15,2020-09-24,15:48:32,view,1515915625519470612,MTgFxYKGWp,857266,27.81,electronics,audio,acoustic,1,0,0,13,3,3,2,0,0
16,2020-09-24,15:48:37,view,1515915625519470631,WNdB6dME8q,857266,27.81,electronics,audio,acoustic,1,0,0,13,3,3,1,1,1
17,2020-09-24,15:49:10,cart,1515915625519470631,WNdB6dME8q,857266,27.81,electronics,audio,acoustic,0,1,0,13,3,3,1,1,1
18,2020-09-24,15:50:51,purchase,1515915625519470631,WNdB6dME8q,857266,27.81,electronics,audio,acoustic,0,0,1,13,3,3,1,1,1
19,2020-09-24,15:52:29,view,1515915625519471871,pcdCG3xjXq,885605,89.73,electronics,audio,acoustic,1,0,0,32,0,0,1,0,0
20,2020-09-24,15:54:31,view,1515915625462631711,xKpRtIpoXQ,1030379,168.17,electronics,audio,acoustic,1,0,0,27,0,0,2,0,0
21,2020-09-24,15:54:53,view,1515915625462631711,xsp4EraMJG,1030379,168.17,electronics,audio,acoustic,1,0,0,27,0,0,2,0,0
22,2020-09-24,15:57:07,view,1515915625519470612,MTgFxYKGWp,857266,27.81,electronics,audio,acoustic,1,0,0,13,3,3,2,0,0
23,2020-09-24,16:18:47,view,1515915625519480609,FW0y4NmJYR,1724625,259.94,electronics,audio,acoustic,1,0,0,457,41,30,1,0,0
24,2020-09-24,16:20:59,view,1515915625515364772,IzZ1zIDlyI,3679266,60.78,electronics,audio,acoustic,1,0,0,13,1,1,1,0,0
25,2020-09-24,16:25:28,view,1515915625519465582,2lua1s6b4L,3648619,35.10,electronics,audio,acoustic,1,0,0,2,0,0,1,0,0
26,2020-09-24,17:08:41,view,1515915625519493208,7jupfRxwVB,3648383,46.03,electronics,audio,acoustic,1,0,0,19,2,1,1,0,0
27,2020-09-24,17:18:43,view,1515915625519495513,UeTfWuT3DN,4100848,31.27,electronics,audio,acoustic,1,0,0,146,0,0,1,0,0
28,2020-09-24,17:46:43,view,1515915625355814440,XTQoT3kgm0,85962,227.30,electronics,audio,acoustic,1,0,0,319,27,19,1,0,0
29,2020-09-24,18:11:24,view,1515915625519508379,JimrDb4Ct4,3828757,15.54,electronics,audio,acoustic,1,0,0,165,0,0,1,0,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 305909 entries, 0 to 305908
Data columns (total 19 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date            305909 non-null  object
 1   Time            305909 non-null  object
 2   event_type      305909 non-null  object
 3   user_id         305909 non-null  int64
 4   user_session    305909 non-null  object
 5   product_id      305909 non-null  int64
 6   price           305909 non-null  float64
 7   category        305909 non-null  object
 8   subcategory     305909 non-null  object
 9   subsubcategory  305909 non-null  object
 10  is_view         305909 non-null  int64
 11  is_cart         305909 non-null  int64
 12  is_purchase     305909 non-null  int64
 13  p_views         305909 non-null  int64
 14  p_carts         305909 non-null  int64
 15  p_purchases     305909 non-null  int64
 16  user_views      305909 non-null  int64
 17  user_carts      305909 non-null  int64
 18  user_purchases  305909 non-null  int64
dtypes: float64(1), int64(11), object(7)
memory usage: 44.3+ MB

In [4]:
def rating(df):
    coef_view,coef_cart,coef_purchase= 1, 5, 10
    df["rating"]=df["p_views"]*coef_view + df["p_carts"]*coef_cart+df["p_purchases"]*coef_purchase
    return df

In [5]:
df=rating(df)
df.head()

,Date,Time,event_type,user_id,user_session,product_id,price,category,subcategory,subsubcategory,is_view,is_cart,is_purchase,p_views,p_carts,p_purchases,user_views,user_carts,user_purchases,rating
0,2020-09-24,12:02:19,view,1515915625519390366,F71OG8wWVP,3828758,21.59,electronics,audio,acoustic,1,0,0,372,1,0,1,0,0,377
1,2020-09-24,12:22:49,view,1515915625519398031,hq3JGndGca,1271549,405.65,electronics,audio,acoustic,1,0,0,365,1,0,1,0,0,370
2,2020-09-24,12:48:31,view,1515915625519407618,JB3Sy5LCfb,124712,204.79,electronics,audio,acoustic,1,0,0,513,68,61,2,1,1,1463
3,2020-09-24,12:49:34,view,1515915625519407618,bRZAHDpYFC,124712,204.79,electronics,audio,acoustic,1,0,0,513,68,61,2,1,1,1463
4,2020-09-24,12:50:22,cart,1515915625519407618,bRZAHDpYFC,124712,204.79,electronics,audio,acoustic,0,1,0,513,68,61,2,1,1,1463

In [6]:
df_group= df[df["p_purchases"]>= 1]
df_group.head()

,Date,Time,event_type,user_id,user_session,product_id,price,category,subcategory,subsubcategory,is_view,is_cart,is_purchase,p_views,p_carts,p_purchases,user_views,user_carts,user_purchases,rating
2,2020-09-24,12:48:31,view,1515915625519407618,JB3Sy5LCfb,124712,204.79,electronics,audio,acoustic,1,0,0,513,68,61,2,1,1,1463
3,2020-09-24,12:49:34,view,1515915625519407618,bRZAHDpYFC,124712,204.79,electronics,audio,acoustic,1,0,0,513,68,61,2,1,1,1463
4,2020-09-24,12:50:22,cart,1515915625519407618,bRZAHDpYFC,124712,204.79,electronics,audio,acoustic,0,1,0,513,68,61,2,1,1,1463
5,2020-09-24,12:51:06,purchase,1515915625519407618,bRZAHDpYFC,124712,204.79,electronics,audio,acoustic,0,0,1,513,68,61,2,1,1,1463
9,2020-09-24,13:54:46,view,1515915625519431986,4DPxT81h91,4100847,31.27,electronics,audio,acoustic,1,0,0,229,18,15,1,0,0,469

In [7]:
df_reduct= df_group[["user_id","product_id","subsubcategory","rating"]]
df_reduct.head()

               user_id  product_id subsubcategory  rating
2  1515915625519407618      124712       acoustic    1463
3  1515915625519407618      124712       acoustic    1463
4  1515915625519407618      124712       acoustic    1463
5  1515915625519407618      124712       acoustic    1463
9  1515915625519431986     4100847       acoustic     469

In [8]:
df_reduct= df_reduct.drop_duplicates()

In [159]:
max_ratings = df_reduct.groupby('subsubcategory')['rating'].transform('max')
df_reduct['normalized_rating'] = df_reduct['rating'] / max_ratings
df_reduct.head()

                user_id  product_id subsubcategory  rating  normalized_rating
2   1515915625519407618      124712       acoustic    1463           0.951854
9   1515915625519431986     4100847       acoustic     469           0.305140
10  1515915625482978862     1674137       acoustic      33           0.021470
11  1515915625517146957     1166287       acoustic     201           0.130774
15  1515915625519470612      857266       acoustic      58           0.037736

In [10]:
df_pivot = df_reduct.pivot(index='product_id', columns='user_id', values='rating')
df_pivot= df_pivot.fillna(0)
df_pivot.head()

user_id,1515915625353230683,1515915625353230922,1515915625353234047,1515915625353286099,1515915625353294441,1515915625353457259,1515915625353458744,1515915625353496458,1515915625353555928,1515915625353561691,...,1515915625611017481,1515915625611017996,1515915625611018038,1515915625611018641,1515915625611018705,1515915625611020601,1515915625611022256,1515915625611022570,1515915625611022696,1515915625611023581
product_id,,,,,,,,,,,,,,,,,,,,,
2365,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3727,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4279,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6265,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6476,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
dimention=10
svd=TruncatedSVD(n_components=dimention)
matrix_pivot_trans=svd.fit_transform(df_pivot)

In [12]:
matrix_pivot_trans
matrix_pivot_trans.shape
import numpy as np
correlation=np.corrcoef(matrix_pivot_trans)
print(correlation)

[[ 1.         -0.24137656 -0.1308489  ...  0.58238438 -0.56917488
   0.09023194]
 [-0.24137656  1.          0.45747493 ...  0.06268747  0.10422504
   0.67342642]
 [-0.1308489   0.45747493  1.         ... -0.12388157  0.00406003
   0.75287328]
 ...
 [ 0.58238438  0.06268747 -0.12388157 ...  1.         -0.03700114
   0.13918085]
 [-0.56917488  0.10422504  0.00406003 ... -0.03700114  1.
  -0.09309193]
 [ 0.09023194  0.67342642  0.75287328 ...  0.13918085 -0.09309193
   1.        ]]

In [13]:

df_pivot_trans=pd.DataFrame(correlation,index=df_pivot.index,columns=df_pivot.index)
df_pivot_trans

product_id,2365,3727,4279,6265,6476,7887,11014,11551,16108,16116,...,4183854,4183856,4183859,4183860,4183861,4183862,4183863,4183864,4183865,4183866
product_id,,,,,,,,,,,,,,,,,,,,,
2365,1.000000,-0.241377,-0.130849,0.030337,-0.184684,0.115666,-0.543065,-0.423109,0.217933,0.218384,...,-0.564198,-0.579268,-0.317236,0.216446,0.775968,0.672708,0.646663,0.582384,-0.569175,0.090232
3727,-0.241377,1.000000,0.457475,-0.032350,-0.102024,0.418431,-0.164303,0.482467,0.156175,0.160621,...,0.604911,0.167266,0.797883,0.210486,0.088132,0.093979,0.040309,0.062687,0.104225,0.673426
4279,-0.130849,0.457475,1.000000,0.096098,0.709098,0.621348,-0.487664,0.574587,0.633696,0.623996,...,0.340709,-0.240190,0.378492,0.732064,0.016645,0.065058,0.013052,-0.123882,0.004060,0.752873
6265,0.030337,-0.032350,0.096098,1.000000,-0.063670,0.190771,-0.211750,-0.335722,0.314376,0.334857,...,-0.273094,-0.214040,-0.252837,-0.335572,-0.383975,-0.348733,-0.267994,-0.230962,0.140868,-0.294635
6476,-0.184684,-0.102024,0.709098,-0.063670,1.000000,0.090505,-0.211322,0.420646,0.211523,0.195235,...,0.279775,-0.069730,0.094960,0.603826,-0.040250,0.048692,0.090891,0.005163,0.228954,0.423614
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4183862,0.672708,0.093979,0.065058,-0.348733,0.048692,0.215288,-0.190327,0.192011,0.157497,0.152446,...,-0.001398,-0.146321,0.167270,0.416204,0.966418,1.000000,0.885974,0.771140,-0.076231,0.391231
4183863,0.646663,0.040309,0.013052,-0.267994,0.090891,-0.062689,-0.323941,-0.076446,-0.025854,-0.045291,...,-0.196681,-0.320480,-0.038427,0.165403,0.907937,0.885974,1.000000,0.959973,-0.100546,0.226279
4183864,0.582384,0.062687,-0.123882,-0.230962,0.005163,-0.275461,-0.263870,-0.210691,-0.256787,-0.274318,...,-0.180537,-0.227034,-0.014908,-0.016817,0.819970,0.771140,0.959973,1.000000,-0.037001,0.139181
4183865,-0.569175,0.104225,0.004060,0.140868,0.228954,-0.163204,0.718880,0.427343,-0.293823,-0.278901,...,0.508614,0.785620,0.404912,-0.195811,-0.261687,-0.076231,-0.100546,-0.037001,1.000000,-0.093092
4183866,0.090232,0.673426,0.752873,-0.294635,0.423614,0.529585,-0.388478,0.646307,0.354527,0.353436,...,0.567437,-0.006832,0.739252,0.839601,0.382728,0.391231,0.226279,0.139181,-0.093092,1.000000

In [78]:
def recom(id_product, nbr_index):
    if id_product not in df_pivot_trans.index:
        print("Le produit demandé n'existe pas dans la matrice de corrélation")
    else:
        product_correlations = df_pivot_trans.loc[id_product]
        most_similar_products = product_correlations.sort_values(ascending=False).drop(id_product)
        top_similar=most_similar_products[:nbr_index]
    return top_similar.index.tolist()

In [113]:
r=recom(6476,3)
print(r)

[1016075, 1769427, 4155918]

In [114]:
df_detail=df[["product_id","price","category","subcategory","subsubcategory"]]
df_detail.set_index('product_id', inplace= True)
#df_detail= df_detail.drop(columns=df_detail["product_id"])
#df_detail.drop_duplicates(subset=['product_id'], inplace=True, keep='first')
print(df_detail)

             price     category  subcategory subsubcategory
product_id
3828758      21.59  electronics        audio       acoustic
1271549     405.65  electronics        audio       acoustic
124712      204.79  electronics        audio       acoustic
124712      204.79  electronics        audio       acoustic
124712      204.79  electronics        audio       acoustic
...            ...          ...          ...            ...
3506321      11.86    computers  peripherals           wifi
3721154     327.43    computers  peripherals           wifi
3698949      31.17    computers  peripherals           wifi
673347       36.37    computers  peripherals           wifi
673347       36.37    computers  peripherals           wifi

[305909 rows x 4 columns]

In [133]:

for produit in r:
    detail_produit_recom = df_detail.loc[produit]
    detail_produit_recom.drop_duplicates(inplace=True)
    print(detail_produit_recom)

             price   category subcategory subsubcategory
product_id
1016075     216.05  computers  components   power_supply
            price     category subcategory subsubcategory
product_id
1769427     62.37  electronics       audio       acoustic
            price     category subcategory subsubcategory
product_id
4155918     41.62  electronics       audio       acoustic

C:\Users\jorda\AppData\Local\Temp\ipykernel_21000\1747607989.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  detail_produit_recom.drop_duplicates(inplace=True)
C:\Users\jorda\AppData\Local\Temp\ipykernel_21000\1747607989.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  detail_produit_recom.drop_duplicates(inplace=True)
C:\Users\jorda\AppData\Local\Temp\ipykernel_21000\1747607989.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  detail_produit_recom.drop_duplicates(inplace=True)

In [134]:
df_detail_user=df[["user_id","product_id","Date","Time","price","category","subcategory","subsubcategory"]]
df_detail_user['datetime']= pd.to_datetime(df_detail_user["Date"]+' '+df_detail_user['Time'])
df_detail_user.drop(columns=["Date", "Time"], inplace=True)
df_detail_user.set_index("user_id", inplace=True)
df_detail_user

C:\Users\jorda\AppData\Local\Temp\ipykernel_21000\2776554306.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_detail_user['datetime']= pd.to_datetime(df_detail_user["Date"]+' '+df_detail_user['Time'])
C:\Users\jorda\AppData\Local\Temp\ipykernel_21000\2776554306.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_detail_user.drop(columns=["Date", "Time"], inplace=True)

,product_id,price,category,subcategory,subsubcategory,datetime
user_id,,,,,,
1515915625519390366,3828758,21.59,electronics,audio,acoustic,2020-09-24 12:02:19
1515915625519398031,1271549,405.65,electronics,audio,acoustic,2020-09-24 12:22:49
1515915625519407618,124712,204.79,electronics,audio,acoustic,2020-09-24 12:48:31
1515915625519407618,124712,204.79,electronics,audio,acoustic,2020-09-24 12:49:34
1515915625519407618,124712,204.79,electronics,audio,acoustic,2020-09-24 12:50:22
...,...,...,...,...,...,...
1515915625611012647,3506321,11.86,computers,peripherals,wifi,2021-02-28 22:12:03
1515915625611017316,3721154,327.43,computers,peripherals,wifi,2021-02-28 22:51:09
1515915625611014848,3698949,31.17,computers,peripherals,wifi,2021-02-28 23:06:42
1515915625611014848,673347,36.37,computers,peripherals,wifi,2021-02-28 23:08:23
1515915625611014817,673347,36.37,computers,peripherals,wifi,2021-02-28 23:11:03

In [158]:
def predict_by_user(user_id, nbr_index, nbr_hist):
    # Assurer que 'datetime' est au bon format
    df_detail_user['datetime'] = pd.to_datetime(df_detail_user['datetime'])
    
    # Filtrer les données pour l'utilisateur spécifique
    user_data = df_detail_user.loc[user_id]
    
    # Sélectionner les nbr_hist dernières consultations par date et heure
    user_data = user_data.nlargest(nbr_hist, 'datetime', keep='first')
    
    # Garder uniquement les premières occurrences de chaque produit
    user_data.drop_duplicates(inplace=True)
    #user_data.drop_duplicates(inplace=True)
    #print(user_data)
    # Créer un DataFrame pour les dernières consultations
    df_last_nbr_hist = user_data[["product_id", "datetime"]]
    df_last_nbr_hist.set_index("product_id", inplace=True)
    
    #print(df_last_nbr_hist.head())
    
    # Initialiser une liste pour stocker les recommandations
    recommandations = []
    
    # Boucle pour obtenir les recommandations pour chaque produit dans l'historique
    for product_id in df_last_nbr_hist.index.to_list():
        recommandations=recommandations + recom(product_id,nbr_index)
        #print(recommandations)
    recommandations = list(set(recommandations))
    df_detail_recom = df_detail.loc[recommandations]
    df_detail_recom.drop_duplicates(inplace=True)
    # Filtrer les détails des produits recommandés
    
    
    return df_detail_recom

# Exemple d'utilisation
user_id = 1515915625519407618
nbr_recom = 5
nbr_hist = 3

recommandations_dfs = predict_by_user(user_id, nbr_recom, nbr_hist)
print(recommandations_dfs.head())

             price     category  subcategory subsubcategory
product_id
1746145     346.44    computers   components    motherboard
3580450     229.68    computers   components     videocards
1019172      48.89    computers   components     videocards
125295       80.56  electronics        audio       acoustic
123668       50.11    computers  peripherals       keyboard

C:\Users\jorda\AppData\Local\Temp\ipykernel_21000\3441431398.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_detail_user['datetime'] = pd.to_datetime(df_detail_user['datetime'])